* {
  font-family: 'Viga', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  position: absolute;
  z-index: 5;
  background: #1c4b57a6;
  left: 14px;
  border-radius: 4px;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: rgb(253, 253, 21)
}

.nav-link {
  color: rgb(232, 233, 230);
}

.nav-link:hover {
  color: whitesmoke;
}

.mapboxgl-ctrl > button {
  background-color: #1e54625e;
}

.mapboxgl-ctrl > button:hover {
  background-color: rgba(233, 230, 33, 0.49);
}

.hide-info {
  display: none;
}

.mapboxgl-ctrl-geocoder{
  background: #1c4b57a6;
}

.mapboxgl-ctrl-geocoder--icon {
  fill: whitesmoke;
}

.mapboxgl-ctrl-geocoder--input {
  color: whitesmoke;
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: whitesmoke;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: #fff0;
}

#get-start {
  display: none;
}

#routeDialog>.modal-content {
  background-color: #fff0;
}

#alertDialog>.modal-content {
  border-radius: 1rem;
  padding: 5px;
  background-color: #423f3fa6;
  color: white;
}

.info-box {
  width: 250px;
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 900px;
  background-color: #1c4b57a6;
  color: rgb(243, 239, 239);
  padding: 15px;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  display: none;
}

.navigation {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
  top: 300px;
  left: 10px;
  background-color: #1c4b57a6;
  color: rgb(243, 239, 239);
  padding: 15px;
  text-align: left;
  display: none;
  margin: 10px;
  border-radius: 8px;
}

.control-panel {
  width: 150px;
  position: absolute;
  top: 130px;
  left: 263px;
  padding: 3px;
  text-align: center;
  border-radius: 8px;
  z-index: 2;
}

.mapboxgl-ctrl-top-left {
  position: absolute;
  padding: 5px;
  z-index: 4;
  top: 120px;
  left: 0;
}

.modal-background1 {
  background-image: url(http://d3bon5y7kodxz4.cloudfront.net/modalform1.jpg);
  background-size: cover;
  color: whitesmoke;
}

#modal-background2 {
  background-image: url(http://d3bon5y7kodxz4.cloudfront.net/modalform2.jpg);
  background-size: cover;
  color: whitesmoke;
}

#video-head {
  font-size: 4rem;
  color: whitesmoke;
  position: relative;
  z-index: 4;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  z-index: 4;
  margin: 0;
}

#video-wrap {
  height: 270px;
}

#video-background {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.5;
}

.jumbotron .container {
  z-index: 4;
  position: relative;
  padding: 0;
}

.card {
  background-color: rgb(52, 58, 64);
}

p a:hover {
  color: whitesmoke;
}

.card:hover {
  background-color: #1e5462;
}

.card-text {
  padding: 0 4rem 4rem 2rem;
  line-height: 1.8rem;
}

/* style author image and intro */

#author-img {
  width: 300px;
  height: 300px;
  margin: 2rem;
  border-radius: 50%;
}

.social:hover {
  -webkit-transform: scale(1.1);
}

.social {
  -webkit-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
}

#github:hover {
  color: rgb(52, 58, 64);
}

#email:hover {
  color: rgb(155, 32, 11)
}

#loadingText {
  background-color: #1c4b57a6;
  color: whitesmoke;
  padding: 1.5rem;
  line-height: 2rem;
  font-size: 1.3rem;
}

#loadingIcon {
  margin: 1rem;
}

h3 {
  margin: 3rem 0 0 0;
  color: rgb(52, 58, 64);
}

#author-text {
  margin: 2rem 7rem 7rem 7rem;
  font-size: 1.2rem;
  color: rgb(52, 58, 64);
}

@media (max-width: 375px) {
  #author-text {
    margin: 0.8rem;
  }
}



.close {
  color: whitesmoke;
}

.close:hover {
  color: white;
}

.buttons {
  display: inline-flex;
}

.btn {
  background-color: #1c4b57a6; 
  border: none; 
  color: rgb(243, 239, 239); 
  font-size: 1rem; 
  cursor: pointer;
  border-radius: 1rem;
  margin: 0.2rem;
  line-height: 0.8;
}

.btn:hover {
  background-color: rgb(11, 24, 63);
  color: rgb(243, 239, 239);
}

.toggle {
  display: none;
}

#routeDialog {
  width: auto;
  height: auto;
}

.alert-success {
  position: relative;
  z-index: 999;
  left: 40%;
  width: 15%;
  color: #fcfefc;
  background-color: #8483799c;
  border-color: #ffffff;
  border-radius: 1rem;
  text-align: center;
}

.clear-nav {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 4;
  display: none;
}

/* time slider design */

.toggle_wrapper {
  margin: 0;
  height: 30px;
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 4;
}

.toggle_radio{
  position: relative;
  background: #1c4b57a6;
  margin: 4px auto;
  overflow-y: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 30px;
  width: 545px;
  white-space: nowrap;
}

.toggle_radio:hover {
  background: rgb(11, 24, 63);
}

.toggle_radio > * {
  display: inline-block;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  color: whitesmoke;
  z-index: 0;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  width: 40px;
  height: 22px;
  position: absolute;
  top: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#hour1:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 4px;
}
#hour2:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 48px;
}
#hour3:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 93px;
}
#hour4:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 138px;
}
#hour5:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 181px;
}
#hour6:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 227px;
}
#hour7:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 272px;
}
#hour8:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 316px;
}
#hour9:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 361px;
}
#hour10:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 408px;
}
#hour11:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 452px;
}
#hour12:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 497px;
}

/* AM/PM slider */

.ampm_wrapper {
  margin: 0;
  height: 30px;
  position: absolute;
  top: 93px;
  left: 10px;
  z-index: 4;
}

.toggle_ampm{
  position: relative;
  background:#1c4b57a6;
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 30px;
  width: 80;
}

.toggle_ampm:hover {
  background: rgb(11, 24, 63);
}

.toggle_ampm > * {
  float: left;
}

.toggle_ampm input[type=radio]{
  display: none;
}

.toggle_ampm label{
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 30px;
  height: 20px;
  margin: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 4;
  text-align: center;
}
.ampm_slider{
  width: 35px;
  height: 22px;
  position: absolute;
  top: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#am:checked ~ .ampm_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 4px;
}
#pm:checked ~ .ampm_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 40px;
}


@media(min-width: 376px) {
  #hourCollapse {
    display: block;
  }
}

@media(max-width: 375px) {

  .mapboxgl-ctrl-top-left {
    top: 200px;
  }

  .info-box {
    left: 0;
  }

  .toggle_wrapper {
    display: none;
  }

  .ampm_wrapper {
    display: none;
  }
  
  .info-box {
    display: none;
  }

  .control-panel {
    top: 0;
    left: 195px;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    top: 10px;
  }
  
  .mapboxgl-ctrl-geocoder--input {
    height: 40px;
  }

  .navigation {
    top: 520px;
    left: 40px;
    height: 40px;
  }

  .navbar-toggler-icon {
    color: whitesmoke;
  }

  .navbar {
    padding: 0.2rem;
    width: 150px;
  }

  .alert-success {
    left: 30%;
    width: 50%;
  }
}
