* {
  font-family: 'Viga', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  position: absolute;
  z-index: 2;
  background: rgba(40, 66, 159, 0.6);
  left: 14px;
  border-radius: 4px;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: rgb(253, 253, 21)
}

.nav-link {
  color: rgb(232, 233, 230);
}

.nav-link:hover {
  color: white;
}

.hide-info {
  display: none;
}

.mapboxgl-ctrl-geocoder{
  background: rgba(40, 66, 159, 0.6);
}

.mapboxgl-ctrl-geocoder--icon {
  fill: whitesmoke;
}

.mapboxgl-ctrl-geocoder--input {
  color: white;
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: white;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: #fff0;
}

#get-start {
  display: none;
}

#routeDialog>.modal-content {
  background-color: #fff0;
}

#alertDialog>.modal-content {
  border-radius: 1rem;
  padding: 5px;
  background-color: #423f3fa6;
  color: white;
}

.info-box {
  width: 150px;
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 900px;
  background-color: rgba(40, 66, 159, 0.8);
  color: rgb(243, 239, 239);
  padding: 15px;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  display: none;
}

.navigation {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
  top: 300px;
  left: 10px;
  background-color: rgba(40, 66, 159, 0.8);
  color: rgb(243, 239, 239);
  padding: 15px;
  text-align: left;
  display: none;
  margin: 10px;
  border-radius: 8px;
}

.control-panel {
  width: 150px;
  position: absolute;
  top: 130px;
  left: 263px;
  padding: 3px;
  text-align: center;
  border-radius: 8px;
  z-index: 2;
}

.mapboxgl-ctrl-top-left {
  position: absolute;
  padding: 5px;
  z-index: 4;
  top: 120px;
  left: 0;
}

.modal-content.modal-background {
  background-image: url(img/modalform.jpg);
  background-repeat: no-repeat;
}

.buttons {
  display: inline-flex;
}

.btn {
  background-color: rgba(40, 66, 159, 0.6); 
  border: none; 
  color: rgb(243, 239, 239); 
  font-size: 1rem; 
  cursor: pointer;
  border-radius: 1rem;
  margin: 0.2rem;
}

.btn:hover {
  background-color: rgb(11, 24, 63);
  color: rgb(243, 239, 239);
}

.toggle {
  display: none;
}

#routeDialog {
  width: auto;
  height: auto;
}

.alert-success {
  position: relative;
  z-index: 999;
  left: 40%;
  width: 15%;
  color: #fcfefc;
  background-color: #8483799c;
  border-color: #ffffff;
  border-radius: 1rem;
}

.clear-nav {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 4;
  display: none;
}

/* time slider design */

.toggle_wrapper {
  margin: 0;
  height: 30px;
  position: absolute;
  top: 60px;
  left: 10px;
  z-index: 4;
}

.toggle_radio{
  position: relative;
  background: rgba(40, 66, 159, 0.5);
  margin: 4px auto;
  overflow-y: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 30px;
  width: 545px;
  white-space: nowrap;
}

.toggle_radio:hover {
  background: rgb(11, 24, 63);
}

.toggle_radio > * {
  display: inline-block;
}
.toggle_radio input[type=radio]{
  display: none;
  /*position: fixed;*/
}
.toggle_radio label{
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*margin: 0 2px;*/
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  width: 40px;
  height: 22px;
  position: absolute;
  top: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#hour1:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 4px;
}
#hour2:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 49px;
}
#hour3:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 94px;
}
#hour4:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 139px;
}
#hour5:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 184px;
}
#hour6:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 229px;
}
#hour7:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 274px;
}
#hour8:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 319px;
}
#hour9:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 364px;
}
#hour10:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 409px;
}
#hour11:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 454px;
}
#hour12:checked ~ .toggle_option_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 499px;
}

/* AM/PM slider */

.ampm_wrapper {
  margin: 0;
  height: 30px;
  position: absolute;
  top: 93px;
  left: 10px;
  z-index: 4;
}

.toggle_ampm{
  position: relative;
  background: rgba(40, 66, 159, 0.5);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 30px;
  width: 80;
}

.toggle_ampm:hover {
  background: rgb(11, 24, 63);
}

.toggle_ampm > * {
  float: left;
}

.toggle_ampm input[type=radio]{
  display: none;
}

.toggle_ampm label{
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 30px;
  height: 20px;
  margin: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 4;
  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*background: blue;*/ /*make it blue*/
}
.ampm_slider{
  width: 35px;
  height: 22px;
  position: absolute;
  top: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#am:checked ~ .ampm_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 4px;
}
#pm:checked ~ .ampm_slider{
  background: rgba(233, 230, 33, 0.49);
  left: 40px;
}

/* collapse time slider on smaller viewport */
@media(min-width: 750px) {

  .collapse.dont-collapse-sm {
    display: inline-block;
    height: auto !important;
    visibility: visible;
  }

}

@media(max-width: 375px) {

  .toggle_wrapper {
    display: none;
  }

  .ampm_wrapper {
    display: none;
  }

  .control-panel{
    top: 0;
    right: 20px;
  }

}

.hr_btn {
  position: relative;
  color: white;
  background: rgba(40, 66, 159, 0.5);
  margin: 4px auto;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
  height: 30px;
}