* {
  font-family: 'Viga', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.navbar {
  position: absolute;
  z-index: 2;
}

.hide-info {
  display: none;
}

.info-box {
  width: 150px;
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 900px;
  background-color: rgba(53, 67, 82, 0.9);
  color: rgb(243, 239, 239);
  padding: 15px;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  display: none;
}

.navigation {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
  top: 300px;
  left: 900px;
  background-color: rgba(61, 74, 87, 0.9);
  color: rgb(243, 239, 239);
  padding: 15px;
  text-align: left;
  display: none;
  margin: 10px;
  border-radius: 8px;
}

.control-panel {
  width: 150px;
  position: absolute;
  top: 60px;
  left: 260px;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  z-index: 2;
}

.mapboxgl-ctrl-top-left {
  position: absolute;
  padding: 5px;
  z-index: 4;
  top: 80px;
  left: 10px;
}


.btn {
  background-color: #3e4953; 
  border: none; 
  color: rgb(243, 239, 239); 
  padding: 12px 16px; 
  font-size: 16px; 
  cursor: pointer;
  border-radius: 8px;
}

.btn:hover {
  background-color: rgb(11, 24, 63);
  color: rgb(243, 239, 239);
}

#get-alt {
  display: none;
}

#routeDialog {
  width: auto;
  height: auto;
}

.flashes {
  position: relative;
  z-index: 999;
  left: 160px;
  color: whitesmoke;
}

.clear-nav {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 4;
  display: none;
}