<!DOCTYPE html>
<html>
<header>
    <meta charset="utf-8" />
    <title>{% block title %} ByPath -- find a safer path {% endblock %}</title>
    <link rel="icon" href="static/img/favicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- Link google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet"> 
    <!-- Link jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <!-- Link mapbox js and css -->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/abb758cec8.js"></script>
    {% block javascript%}{% endblock %}
    {% block css %}
        <link href="static/stylesheet.css" rel="stylesheet" type="text/css" />
    {% endblock %}

</header>

<body>
    <div id="nav-wrapper" class="wrapper">
        {% block menu %}
        {% endblock %}
        <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="/">ByPath</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggel navbar">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% block navlinks %}
                            {% endblock %}
                            <li class="nav-item">
                                <a class="nav-link" href="" data-toggle="modal" data-target="#loadingModal">How to use</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                        </ul>
                </div>
        </nav>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endwith %}
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog" id="alertDialog" role="document">
                <div class="modal-content">
                <p id="alert-msg"></p>
                </div>
            </div>
        </div>
    </div>
    

    <div id="map-wrapper" class="wrapper">
            <div id="loadingModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
                    <div class="modal-content" id="loadingText">
                        <div id="loadingIcon" class="text-center"><span class="far fa-compass fa-spin fa-5x"></span></div>
                        <br>
                        <div>- Enter destination in the search box</div> <br>
                        <div>- Use current location or click "Enter Start"</div> <br>
                        <div>- Click "Go" to see your route and crime score</div> <br>
                        <div>- You can also use the buttom left "Draw tool" to draw your path!</div> 
                    </div>
                </div>
            </div>
        {% block mapcontent %}
        {% endblock %}
        {% block script %}   
        {% endblock %}
    </div>   
</body>
</html>